.color-picker-icon {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Adjust size as needed */
  }
  
  .predefined-colors {
    display: flex;
    margin-top: 10px;
  }